# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
backend/venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Large data files
*.csv
*.zip
*.tar
*.gz
# Data files
*.csv
backend/data/
